h1, h2, h3, h4, h5, h6, legend, label, p { color: #FFFFFF; }

.input-append-block { display: block; }

.hero-unit2 {
  padding: 30px 60px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #3C454F;
}

.span3-no-margin {
  margin: 0;
  padding: 30px 0 30px 30px;
  height: 200px;
}

#datesViewModel { background-color: #1abc9c; }

#userNameViewModel { background-color: #e67e22; }

#branchNameViewModel { background-color: #9b59b6; }

#repositoryNameViewModel { background-color: #e74c3c; }

#submitData { display: block; }

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  width: 100%;
  height: 400px;
}