h1, h2, h3, h4, h5, h6, legend, label, p {
  color: #FFFFFF;
}


.input-append-block {
  display: block;
}

.hero-unit2 {
  margin-top: 51px;
  padding: 30px 60px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #3C454F;
}

#forms {
  min-height: 210px;
  height: auto !important;
  height: 210px;
}

.span3-no-margin {
  margin: 0;
  padding: 30px 0 30px 30px;
  height: 100%;
  min-height: 220px;
}

#datesViewModel {
  background-color: #1abc9c;
}

#userNameViewModel {
  background-color: #e67e22;
}

#branchNameViewModel {
  background-color: #9b59b6;
}

#repositoryNameViewModel {
  background-color: #e74c3c;
}

#submitData {
  display: block;
}

.gridStyle {
  border: 1px solid rgb(212, 212, 212);
  width: 100%;
  height: 400px;
}

p.black {
  color: black;
  font-size: 20px;
}

p.blackleft {
  color: black;
  font-size: 16px;
  text-align: left;
}

p.info {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.container .jumbotron {
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span2-no-margin {
  background-color: red;
}


.hero-unit {
  padding-top: 46px;
  padding-bottom: 6px;
}

h4.title { 
    width:100%;
    text-align:center; 
    border-bottom: 1px solid #000; 
    line-height:0.0em; 
    margin:10px 0 20px;
     color: #000000;
} 
h4 span { 
    background: #eee; 
    padding:0 10px; 
}