@{
  ViewBag.Title = "KRD SourceMiner Browser";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<div class="hero-unit">
  <h1>KRD SourceMiner</h1>
  <p>Przeglądarka repozytorium SourceMiner, gdzie przechowywana jest historia zmian ze wszystkich repozytoriów (SVN + Mercurial)</p>
  <div class="row">
    <form id="dateInput">
      <fieldset>
        <legend>Zakres dat wyszukania</legend>
        <label>Data od</label>
        <div class="input-append">
          <input class="span2" id="dateFrom" type="text"/>
          <button type="button" class="btn">X</button>
        </div>
        <label>Data do</label>
        <div class="input-append">
          <input class="span2" id="dateTo" type="text"/>
          <button type="button" class="btn">X</button>
        </div>
      </fieldset>
    </form>
    <form id="userNameInput">
      <fieldset>
        <legend>Użytkownicy do wyszukania</legend>
        <div class="input-append">
          <input type="text" class="span2" id="userNameToAdd" data-bind='typeahead: UserNameList, value: UserNameToAdd, valueUpdate: "afterkeydown"' />
          <button type="button" class="btn" data-bind="click: addUserName, enable: UserNameToAdd().length > 0">Dodaj</button>
        </div>
        <select multiple="multiple" height="5" data-bind="options: ChangesetFilter.UserNames, selectedOptions: UserNameSelected"> </select>
        <button data-bind="click: removeUserName, enable: UserNameSelected().length > 0">Usuń usera</button>
      </fieldset>
    </form>
  </div>
  <p><a class="btn btn-primary btn-large">Szukaj &raquo;</a></p>
</div>

@section scripts
{
  <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"> </script>
  <script type="text/javascript" src="@Url.Content("~/Scripts/ViewModels/ChangesetViewModel.js")"> </script>
  <script type="text/javascript">
    var viewModel = new ChangesetViewModel();

    $.getJSON('/api/changeset/usernames', function(data, status) {
      viewModel.loadUserNameList(data);
    });

    $.getJSON('/api/changeset/branchnames', function(data, status) {
      viewModel.loadBranchNameList(data);
    });

    $.getJSON('/api/changeset/repositorynames', function(data, status) {
      viewModel.loadRepositoryNameList(data);
    });

    ko.applyBindings(viewModel);

  </script>
}